body {
    font-family: Georgia, serif;
    padding: 0px;
    margin: 0px;
}

.link {
    margin: 0px;
    padding: 5px;
    text-align: right;
    font-size: 14pt;
    color: white;
    padding-top: 7px;
    text-decoration: none;
    flex-grow: 0;
    border-radius: 5px;
}

.selected {
    background-color: black;
}

.navContainer {
    width: 100%;
    display: inline-flex;
    background-color: darkslateblue;
    color: white;
}
#title {
    padding: 5px;
    color: white;
    font-size: 16pt;
    text-decoration: none;
    flex-grow: 2;
}

#title:hover, .link:hover {
    color: lightblue;
}

.game-square{
    background-color: gray;
    width: 7%;
    border: 1px lightgray solid;
    cursor: pointer;
    float: left
}

.game-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.piece-white {
    position: absolute;
    display: block;
    background-color: white;
    width: 6%;
    height: 6%;
    border: 3px lightcyan outset;
    border-radius: 100%;
    z-index:2;
}

.piece-black {
    position: absolute;
    display: block;
    background-color: black;
    width: 6%;
    height: 6%;
    border: 3px darkslategray outset;
    border-radius: 100%;
    z-index:2;
}

#game-board: {
}

