body {
    font-family: Georgia, serif;
    padding: 0px;
    margin: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.link {
    margin: 5px;
    padding: 5px;
    text-align: right;
    font-size: 14pt;
    color: white;
    padding-top: 2px;
    text-decoration: none;
    flex-grow: 0;
    border-radius: 3px;
    padding-right: 5px;
}

.selected {
    background-color: rgba(0,0,0,0.5);
}

.navContainer {
    width: 100%;
    display: inline-flex;
    background-color: darkslateblue;
    color: white;
}
#title {
    padding: 5px;
    color: white;
    font-size: 16pt;
    text-decoration: none;
    flex-grow: 2;
}

#title:hover, .link:hover {
    color: lightblue;
    background-color: rgba(255,255,255,0.05);
}

.score-section {
	margin: 10px 10px 0px 10px;
	padding: 10px;
	height: 300px;
	background-color: darkslategray;
	color: white;
	font-family: Courier New, sans-serif;
	border: 3px outset darkslategray;
	text-align: center;
}

.score-section > .points {
	background-color: #2d2d2d;
	height: 170px;
	font-size: 10em;
	font-weight: bold;
	border: 3px white solid;
	text-align: right;
}

.score-section > h3 {
	font-size: 2em;
}

#turn-indic {
	background-color: darkslategray;
	color: white;
	padding: 5px;
	text-align: center;
	border: 3px outset darkslategray;
}

#rules {
	margin: 5px 5%;
	padding: 20px 3%;
	background-color: darkslateblue;
	border-radius: 5px;
	border: 3px outset darkslateblue;
}

#rules > div {
	background-color: lightgray;
	border-radius: 5px;
	padding: 1px 10px;
	margin-bottom: 10px;
	border: 3px groove darkgray;
}

.game-square{
    position: relative;
    background-color: gray;
    width: 12.5%;
    border: 1px lightgray solid;
    cursor: pointer;
    float: left;
    box-sizing: border-box;
}

.game-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.piece-white {
    background-color: white;
    border: 3px lightcyan outset;

}

.piece-black {
    background-color: black;
    border: 3px darkslategray outset;

}

.game-piece {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    z-index:2;
    box-sizing: border-box;
    transition: transform .2s linear;
}

#game-board, #game-board-py{
    border-style: double;
    border-width: 10px;
}

#game-board-py{
    border-color: #282828;
}

.grid-container {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
}

@media only screen and (min-width: 912px) {
    .grid-container {
        grid-template-columns: 30% 40% 30%;
    }
}

/*annimations*/
@keyframes flashred {
    0% {
        background-color: gray;
    }
    50% {
        background-color: rgba(255,0,0,.5);
    }
    100% {
        background-color: gray;
    }
}

.no-flips {
    animation-name: flashred;
    animation-duration: 0.5s;
}

/*python styles*/
#game-board-py > .game-square {
    position: relative;
    background-color: #7395AE;
    width: 12.5%;
    border: 1px #446984 solid;
    cursor: pointer;
    float: left;
    box-sizing: border-box;
}
